.ControlPanel {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-top: 100px;
}

.Dashboard {
  display: flex;
  align-items: flex-start;
  color: var(--grey);
  justify-content: space-evenly;
  width: 95%;
  margin-left: 50px;
  margin-top: 50px;
}


