input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
 -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance:textfield;
}

table {
  min-width: 300px;
  border-collapse: collapse;
  border-radius: 9px;
  overflow: hidden;
/*  margin: 8px;
   min-width: 292px; */
}

td {
  font-family: Assistant;
  text-align: center;
  padding: 8px;
}

.Theader {
  padding: 0 20px;
}

th {
 font-size: 1.2em;
 letter-spacing: 1px;
 text-align: center;
 padding: 8px; 
}

tr:nth-child(even) {
  background-color: var(--bgDark);
}

.Table {
  text-align: center;
 }

 .Table h2 {
  font-size: 1.8em;
  font-family: Montserrat;
  letter-spacing: 1.5px;
  padding-top: 20px;
}

.ArrayTable {
  text-align: center;
  border-radius: 10px;
  background-color: var(--bg);
  box-shadow: -3px -3px 5px #ffffff33, 3px 3px 5px rgba(94, 104, 121, 0.645);
  /*  box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.3),
              inset -3px -3px 5px rgba(255, 255, 255, 0.6); */
}
 
 .Btn {
  all: unset;
  background-color: var(--bg);
  border-radius: 7px;
  padding: 8px;
  font-size: 1.5em;
  color: var(--grey);
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2),
    -2px -2px 3px rgba(255, 255, 255, 0.8), inset 2px 2px 3px rgba(0, 0, 0, 0),
    inset -2px -2px 3px rgba(255, 255, 255, 0);
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  text-align: center;
  margin: 0 10px;
  margin-bottom: 10px;
 }

 .Btn:hover {
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0), -2px -2px 3px rgba(255, 255, 255, 0),
    inset 2px 2px 3px rgba(0, 0, 0, 0.2),
    inset -2px -2px 3px rgba(255, 255, 255, 0.8);
    cursor: pointer;
}

.Btn:disabled {
  background-color: var(--bgDark);
  cursor: not-allowed;
}

.Btn:disabled:hover {
  color: var(--grey);
  cursor: not-allowed;
}

 .Randomize {
  background-color: var(--redWeak);
}

.RouteInit {
   background-color: var(--greenWeak);
}

.Randomize:hover {
  color: var(--red); 
}

.RouteInit:hover {
  color: var(--green); 
}

.CurrentIndex {
  background-color: var(--red) !important;
}

.SwapIndex {
  background-color: var(--red) !important;
}

.FrontIndex {
  background-color: var(--blue) !important;
}

.Sorted {
  animation: finish 1s ease;
}

@keyframes finish {
  0%,100% { }
  40% { background-color: var(--green) }
}

.CityHover {
  color: var(--greenDark);
  font-style: italic;
}

.CityHoverCurrentCity {
  background-color: var(--green) !important;
}