.SortingColosseum {
  background-color: var(--bgDark);
  width: 70%;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.Column {
  display: inline-block;
  width: 8px;
  margin-right: 5px;
  /* height: 100%; */
  background-color: var(--grey);
  transition: all 0.2s;
}

.CurrentIndex {
  background-color: var(--red) !important;
  transition: background-color 0.3s;
}

.SwapIndex {
  background-color: var(--red) !important;
  transition: background-color 0.1s;
}

/* .Sorted {
  background-color: var(--green);
} */

.Sorted {
  animation: finish 1s ease;
}

@keyframes finish {
  0%,100% { }
  40% { background-color: var(--green) }
}

.FrontIndex {
  background-color: var(--blue) !important;
  transition: background-color 0s;
}