@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700|Assistant&display=swap');

* {
 font-family: Montserrat;
 font-weight: 700;
 --bg: #E6EAF3;
 --bgDark: #bec5d4;
 --red: #ff4d4d;
 --redWeak: #ff4d4d22;
 --blue: #0AB6EC;
 --blueWeak: #0AB6EC44;
 --orange: #F08B42;
 --pink: #DA67BA;
 --green: #28c782;
 --greenWeak: #28c78244;
 --grey: #565A6D;
 --greyDark: #444;
 
 --gradBlue: #58D5FD;
 --gradPink: #EAA5D5;
 --gradOrange: #F7D970;
}

body {
  background: var(--bg); 
  background: linear-gradient(180deg, var(--bg) 0%, #d3d8e3 100%);
  background: -moz-linear-gradient(180deg, var(--bg) 0%, #d3d8e3 100%);
  background: -webkit-linear-gradient(180deg, var(--bg) 0%, #d3d8e3 100%);
 }